<!DOCTYPE html>
<html ng-app="gallery">
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/module.js"></script>
</head>
<body>
    <h1>Angular main page</h1>
    <a href="/Angular/home">homePage</a> | <a href="/Angular/gallery">gallery</a> | <a href="/Angular/addImg">addImg</a>
    <div ng-view>Loading...</div>
</body>
</html>

