<div>
    <p>
        Name <input id="name" class="form-control" ng-model="NewImage.Title" />
    </p>
    <p>
        Album <select class="form-control" ng-model="NewImage.AlbumId">
            <option class="form-control" ng-repeat="option in albums" value="{{option.Id}}">{{option.Name}}</option>
        </select>
    </p>
    <p>
        <input type="file" class="btn btn-default" fileread="NewImage.Src" />
    </p>
    <button ng-click="SaveImage()" class="btn btn-default">Save image</button>
</div>
